<script type="text/javascript" src="{{ url_for('static', filename='set_annotations.js')}}"></script>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<label for="neuroglancer_URL">Neuroglancer URL:</label>
</br>
<textarea type="text" id="neuroglancer_URL" name="neuroglancer_URL" row="4" cols="50" maxlength="10000000"></textarea>
</br>
<input type="file" id="fileUpload" />
<input type="button" id="upload" value="Upload" onclick="Upload()" />
</br>
<input type="button" onclick="extract()" value="Set Annotations">
</br>
<hr />
<div id="dvCSV">
</div>